<h1 class="current_category"><%= params[:category] %></h1>
<% if @items.count == 0  %>
    <h1>There are no items in this category</h1>
<% else %>

    <div class="row">
      <% @items.each do |item| %>
          <div class="col-md-4">
            <a href="/mystores/<%= item.id %>">
              <%= image_tag item.item_img.url(:item_index), class: "item" %>
            </a>
          </div>

      <% end %>
    </div>

<% end %>

<%= link_to "Додати товар", new_mystore_path %>